<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>botones</ion-title>

    <ion-buttons slot="end">

      <ion-button color="danger">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button color="warning">
          <ion-icon name="star"></ion-icon>
        </ion-button>
        <ion-button color="primary">
            <ion-icon name="school"></ion-icon>
          </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- BOTONES NORMALES -->
  <ion-button size="small">Small</ion-button>
  <ion-button size="default">Default</ion-button>
  <ion-button size="large">Large</ion-button>

  <!-- BOTONES CON EXPAND FULL -->
  <ion-button size="small" expand="full">Expand full small</ion-button>
  <ion-button size="default" expand="full">Expand full DEFAULT</ion-button>
  <ion-button size="large" expand="full">Expand full LARGE</ion-button>

  <!-- ANCHOR -->
  <ion-button class="top-20" expand="full" routerLink="/alert" color="tertiary">Anchor</ion-button>

  <!-- ion-ROW  +  ion-COl -->
  <ion-row class="top-20"> 
    <ion-col>
        <ion-button  expand="full" routerLink="/avatar" color="tertiary">Avatar</ion-button>
    </ion-col>
    <ion-col>
        <ion-button  expand="full" routerLink="/action-sheet" color="tertiary">Action Sheet</ion-button>
    </ion-col>
  </ion-row>


  <!-- FILL -->
  <ion-button fill="clear"    class="top-20">Clear</ion-button>
  <ion-button fill="outline"  class="top-20">Outline</ion-button>
  <ion-button fill="solid"    class="top-20">Solid</ion-button>

  

</ion-content>
