// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // ===================================================================
  // PERSONALIZADOS

  --ion-color-windows: #030ba4;
  --ion-color-windows-rgb: 3,11,164;
  --ion-color-windows-contrast: #ffffff;
  --ion-color-windows-contrast-rgb: 255,255,255;
  --ion-color-windows-shade: #030a90;
  --ion-color-windows-tint: #1c23ad;

  --ion-color-android: #09cd13;
  --ion-color-android-rgb: 9,205,19;
  --ion-color-android-contrast: #ffffff;
  --ion-color-android-contrast-rgb: 255,255,255;
  --ion-color-android-shade: #08b411;
  --ion-color-android-tint: #22d22b;

  --ion-color-apple: #b3b3be;
  --ion-color-apple-rgb: 179,179,190;
  --ion-color-apple-contrast: #000000;
  --ion-color-apple-contrast-rgb: 0,0,0;
  --ion-color-apple-shade: #9e9ea7;
  --ion-color-apple-tint: #bbbbc5;

  --ion-color-css3: #306fe3;
  --ion-color-css3-rgb: 48,111,227;
  --ion-color-css3-contrast: #ffffff;
  --ion-color-css3-contrast-rgb: 255,255,255;
  --ion-color-css3-shade: #2a62c8;
  --ion-color-css3-tint: #457de6;

  --ion-color-html5: #ff8a00;
  --ion-color-html5-rgb: 255,138,0;
  --ion-color-html5-contrast: #ffffff;
  --ion-color-html5-contrast-rgb: 0,0,0;
  --ion-color-html5-shade: #e07900;
  --ion-color-html5-tint: #ff961a;


  --ion-color-javascript: #d1ce09;
  --ion-color-javascript-rgb: 184,200,9;
  --ion-color-javascript-contrast: #ffffff;
  --ion-color-javascript-contrast-rgb: 0,0,0;
  --ion-color-javascript-shade: #d1ce09;
  --ion-color-javascript-tint: #d1ce09;
}
// windows
.ion-color-windows{
  --ion-color-base: var(--ion-color-windows) !important;
  --ion-color-base-rgb: var(--ion-color-windows-rgb) !important;
  --ion-color-contrast: var(--ion-color-windows-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-windows-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-windows-shade) !important;
  --ion-color-tint: var(--ion-color-windows-tint) !important;
}
// android
.ion-color-android{
  --ion-color-base: var(--ion-color-android) !important;
  --ion-color-base-rgb: var(--ion-color-android-rgb) !important;
  --ion-color-contrast: var(--ion-color-android-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-android-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-android-shade) !important;
  --ion-color-tint: var(--ion-color-android-tint) !important;
}
// apple
.ion-color-apple{
  --ion-color-base: var(--ion-color-apple) !important;
  --ion-color-base-rgb: var(--ion-color-apple-rgb) !important;
  --ion-color-contrast: var(--ion-color-apple-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-apple-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-apple-shade) !important;
  --ion-color-tint: var(--ion-color-apple-tint) !important;
}
//css3
.ion-color-css3{
  --ion-color-base: var(--ion-color-css3) !important;
  --ion-color-base-rgb: var(--ion-color-css3-rgb) !important;
  --ion-color-contrast: var(--ion-color-css3-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-css3-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-css3-shade) !important;
  --ion-color-tint: var(--ion-color-css3-tint) !important;
}
//html5
.ion-color-html5{
  --ion-color-base: var(--ion-color-html5) !important;
  --ion-color-base-rgb: var(--ion-color-html5-rgb) !important;
  --ion-color-contrast: var(--ion-color-html5-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-html5-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-html5-shade) !important;
  --ion-color-tint: var(--ion-color-html5-tint) !important;
}
//javascript
.ion-color-javascript{
  --ion-color-base: var(--ion-color-javascript) !important;
  --ion-color-base-rgb: var(--ion-color-javascript-rgb) !important;
  --ion-color-contrast: var(--ion-color-javascript-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-javascript-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-javascript-shade) !important;
  --ion-color-tint: var(--ion-color-javascript-tint) !important;
}
