<app-header titulo="Listas - Sliding"></app-header>

<ion-content padding>

  <ion-list #lista>
    <!-- Ion ITEM Sliding... se conforma de ITEM y OPTIONS -->
    <ion-item-sliding *ngFor="let user of usuarios | async">
      <!-- ITEM -->
      <ion-item>
        <ion-label>
          <h3>{{user.username}}</h3>
          <p>{{user.email}}</p>
        </ion-label>
        <ion-label slot="end" text-right>{{user.address.zipcode}}</ion-label>
      </ion-item>

      <!-- OPTIONSS -->
      <!-- start -- si jalamos a la derecha-->
      <ion-item-options side="start">
        <ion-item-option  (click)="favorito(user)" color="javascript" ><ion-icon name="star"></ion-icon> </ion-item-option>
        <!-- slot="icon-onle" para que se vea mas grande el icono -->
        <ion-item-option  (click)="borrar(user)" color="danger"><ion-icon name="trash" slot="icon-only"></ion-icon> </ion-item-option>
      </ion-item-options>

      <!-- end -- si jalamos a la izquierda-->
      <ion-item-options side="end">
        <ion-item-option (click)="compartir(user)" >Shared</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

</ion-content>